#container {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 70px;
}

#search {
  font-size: 30;
  padding: 10;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ccc;
  width: 100%;
  margin-bottom: 30px;
}

#results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.path-parts {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex: 1 1;
}

.result.active {
  background: #eee;
  color: black;
}

.result .title, .result .domain, .result .path {
  display: block;
  padding: 10px 10px;
  white-space: nowrap;
}

.result .path {
  padding: 10px 4px;
}

.result .path:after {
  content: '/';
}

.result .title, .result .domain {
  min-width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row h1 {
  flex: 1 1;
}

.link {
  flex: 1 1;
  max-width: 100px;
  cursor: pointer;
}

.link span {
  padding: 5px;
}

.link:hover span {
  background: black;
  color: white;
}

.info {
  flex: 1 1;
  max-width: 100px;
}

.info span {
  padding: 5px;
}
