body {
  background: rgb(253, 246, 228);
}

#container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 30px 70px;
  color: black;
}

#background {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#search {
  background: none;
  font-size: 30;
  padding: 10;
  border-radius: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 30px;
}

#search::placeholder {
  color: black;
}

#results {
  list-style: none;
  margin: 0;
  padding: 0;
}

#results .result.active {
  background: rgba(56, 142, 93, 0.8);
}

#results .result:hover,
#results .result.active:hover {
  background: rgba(56, 142, 93, 0.8);
  cursor: pointer;
}

.result {
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.path-parts {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex: 1 1;
}

::-webkit-scrollbar {
  display: none;
}

.result .title, .result .domain, .result .path {
  display: block;
  padding: 10px 10px;
  white-space: nowrap;
}

.result .path {
  padding: 10px 4px;
}

.result .path:after {
  content: '/';
}

.result .title, .result .domain {
  min-width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row h1 {
  flex: 1 1;
  color: black;
  font-family: Courier, monospace;
}

.link {
  flex: 1 1;
  max-width: 100px;
  cursor: pointer;
}

.link span {
  padding: 5px;
}

.link:hover span {
  background: black;
  color: white;
}

.info {
  padding: 5px;
  color: black;
}

.icon {
  width: 80px;
  margin: auto;
  cursor: pointer;
}

.row.header {
  margin-top: 30px;
}
